language: go

go:
  - 1.7
  - 1.8.x
  - master

cache:
  directories:
    - $GOPATH/src
    - $GOPATH/pkg
    - vendor

install:
  - go get -u github.com/Masterminds/glide 
  - cd $GOPATH/src/github.com/Masterminds/glide && go install && cd -
  - glide install
  - go get -u github.com/onsi/gomega
  - go get -u github.com/onsi/ginkgo/ginkgo

script:
  - ginkgo -r --randomizeAllSpecs --randomizeSuites --failOnPending --trace --race --compilers=2
