language: go

go:
  - 1.13.x
  - master

cache:
  directories:
  - $GOPATH/src

addons:
  sonarcloud:
    organization: "319"

install:
  - go get -u github.com/onsi/ginkgo/ginkgo 
  - go get -u github.com/onsi/gomega/... 

script:
  - sonar-scanner
  - ginkgo -r --randomizeAllSpecs --randomizeSuites --race
